.faq-txt h1{
  font-family: "Shrikhand", serif;
  color: #ffffff;
  margin-top: 100px;
  font-size: 100px;
  line-height: 50px;
  text-shadow: 0.1em 0.1em #628888;
}

.faq-pg{
  margin-top: 20px;
  height: auto;
  background-color: #9DBC98;
  justify-content: flex-start;
  align-items: center;
  display: flex; 
  flex-direction: column;  
  gap: 50px;
  padding-bottom: 2%;
}

.topico{
  background-color: rgb(249, 246, 238, 0.5);
  color: #d9dbd8;
  width: 800px;
  height: auto;
  cursor: pointer;
  gap: 150px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  
}

.topico h1{
  color: #628888;
  font-weight: 500;
  font-family: Poppins;
  font-size: 30px;
  margin-left: 10px;
}

.topico p {
  margin-left: 10px;
  color: #628888;
}

.topico:hover {
  background-color: rgb(249, 246, 238, 0.8);

}


.resposta {
  display: none;
}