.restaurante-pg {
  background-color: #9dbc98;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  padding-bottom: 15%;
}

.restaurante-titulo {
  font-family: "Shrikhand", serif;
  color: #ffffff;
  font-size: 100px;
  line-height: 50px;
  text-align: center;
  padding-top: 3%;
  text-shadow: 0.1em 0.1em #628888;
}

.restaurante-pg > p {
  color: #ffffff;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  padding-top: 1%;
  text-shadow: 0.1em 0.1em #628888;
}

.addBtn {
  background-color: #4d6b6b;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 1%;
}

.addBtn:hover {
  background-color: rgb(99, 136, 137, 0.9);
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  cursor: pointer;
}

.cardapio-info-prato,
.addPrato,
.editPrato {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #4d6b6b;
  border-radius: 20px;
  padding: 50px 40px;
}

.editPrato {
  width: 70%;
  height: 80%;
}

.editPrato > div {
  display: flex;
  justify-content: space-between;
}

.editPrato > form {
  display: flex;
  font-size: 20px;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
}

.buttonDeletar {
  background-color: transparent;
  color: red;
  font-size: 16px;
  border: none;
  margin-left: 10px;
  padding: 5px;
}

/* */

.addPrato {
  width: 70%;
  height: fit-content;
}

.addPrato > div {
  display: flex;
  justify-content: space-between;
}

.addPrato > form {
  display: flex;
  font-size: 20px;
  width: 100%;
}

.container1 {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}
.inputWrapper > p {
  color: white;
  margin-bottom: 0;
}

textarea {
  resize: none;
  height: 180px;
  border-radius: 10px;
  padding: 5px;
}

.inputWrapperCategoria {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoria-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.enviarBtn {
  width: 100px;
  background-color: #fbfbfb;
  color: #4d6b6b;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
}

.enviarBtn:hover {
  background-color: rgb(251, 251, 251, 0.7);
}

/***/

/* Saiba Mais */

.cardapio-info-prato {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cardapio-info-texto {
  font-size: 10px;
  color: white;
  text-align: center;
}

.cardapio-info-descricao {
  font-size: 20px;
  color: white;
  text-align: center;
}

.imgSaibaMais {
  width: 100%;
  border-radius: 20px;
}

.fecharBtn {
  color: #4d6b6b;
  font-size: 20px;
  background-color: #fbfbfb;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.fecharBtn:hover {
  background-color: rgb(251, 251, 251, 0.7);
}

.saibaMaisBtn {
  background-color: #ffff;
  color: #4d6b6b;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.saibaMaisBtn:hover {
  background-color: rgb(251, 251, 251, 0.7);
}

.white {
  color: white;
}

/* */

img {
  max-width: 300px;
}

.cardapio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}

.card {
  width: calc(33.33% - 30px);
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  border: none;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  margin: 0 auto;
}

.cardapio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 4%;
}

@media (max-width: 768px) {
  .addPrato > form {
    display: flex;
    flex-direction: column;
  }
}
