@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.Restaurantes-pg{
    margin-top: 20px;
    height: 1800px;
    background-color: #9DBC98;
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-direction: column;  
    gap: 100px;
}

.Restaurante-txt h1{
    font-family: "Shrikhand", serif;
    color: #ffffff;
    margin-top: 50px;
    font-size: 100px;
    line-height: 50px;
    text-shadow: 0.1em 0.1em #628888;
    
}

.search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
}
  
input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}
  
.search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
}

.Restaurantes{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.Restaurantes{
    transform: scale(0.9) translateY(5px);
    cursor: pointer;
    transition: 0.3s;
}

.restaurante{
    background-color: #628888;
    color: #ffffff;
    max-width: 400px;
}

.restaurante p{
    font-size: 15px;
    margin-top: 20px;
    text-align: left;
    padding: 0 15px;
}

.restaurante h5{
    font-size: 15px;
    margin-top: 20px;
    text-align: left;
    padding: 0 15px;
}

.restaurante img{
    width: 400px;
    height: auto;
}
